@import "tailwindcss";

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100vw;
    height: 100vh;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

@layer components {
    .card{
        @apply flex justify-around items-center  bg-amber-50 rounded-2xl shadow-xl/40
    }
    .main{
        @apply flex flex-col items-center justify-start gap-6 sm:gap-8 h-screen w-full p-1 sm:p-3
    }
    .scores-label {
        @apply flex justify-between items-end gap-1
    }
    .scores-value{
        @apply text-2xl text-center font-bold
    }
    .letter-input{
        @apply bg-blue-400 border-none h-9 w-9 sm:h-10 sm:w-10 text-white text-2xl  sm:text-3xl  font-bold text-center rounded-b-sm 
    }
}

@layer base{
    h1{
        @apply text-3xl font-bold text-amber-50 text-center p-2
    }
     h2{
        @apply text-2xl  text-amber-50
    }
}

